html {
  background-color: #e4e9fD;
  background-image: -webkit-linear-gradient(65deg, #a683e3 50%, #e4e9fD 50%);
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 1.2em;
  color: #fff;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.heading {
  background-color: #a683e3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
}

.heading i {
  color: #fff;
  cursor: pointer;
}

.main-list {
  padding: 10px;
  margin-top: 0;
}

/* The transparent border-color removes the border around the input
The outline removes the focus when user is typing  */
hr {
  color: rgba(150, 146, 146, 0.3);
}

.new-item input {
  width: 100%;
  height: 30px;
  border-color: transparent;
  outline: none;
}

.new-item input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
}

.list-content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.list-content .left {
  display: flex;
  gap: 15px;
  align-items: baseline;
}

/* Clear Button */

.clear {
  width: 100%;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #a683e3;
  border-radius: 5px;
}
